

$greystrong:rgba(128, 128, 128, 0.178);
$greysoft:rgba(128, 128, 128, 0.050);
$green: #99E2D0;
$pink: #FF79DA;
$purple: #9356DC;
$gradient: linear-gradient(0deg,$purple,$pink);
$shadowMedium: 0rem 0rem 0.2rem 0.2rem $greystrong;






