$grey_strong:rgb(233, 233, 233);
$grey_soft:rgb(247, 247, 247);
$green: #99E2D0;
$pink: #FF79DA;
$purple: #9356DC;
$purple_hover: #f4ecff;
$grey: #99E2D0;
$black_soft: rgba(0, 0, 0, 0.801);
$gradient: linear-gradient(0deg,$purple,$pink);
$shadow_medium: 0rem 0rem 0.2rem 0.2rem rgb(212, 212, 212);
$shadow_soft: 0rem 0rem 0.5rem 0.2rem rgb(236, 236, 236);

