*{
    box-sizing: border-box;
    color: black;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Shrikhand', cursive;
}

.logo{
    font-family: 'Shrikhand', cursive;
}

body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    main{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}




@import "./abstracts/variables";

@import "./layout/header";
@import "./layout/footer";



/* Reset CSS sur le body */




/* VARIABLES */



/* HEADER */



/* LOCALISATION */

#localisation{
    width: 100%;
    height: auto;

    .gps{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 1rem;
        background-color: $grey;

        ul{
            width: 100%;
            height: auto;
            padding: 0;
            margin:0;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }

    .explore{
        width: 100%;
        height: auto;
        padding: 2rem 2rem 3rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            margin: 0;
            padding: 0;
            text-align:center;
        }

        p{
            text-align:center;
        }

        button{
            padding: 1rem;
            background-color: $purple;
            color: white;
            border: none;
            border-radius: 3rem;
        }
    }
}

/* RESTAURANTS */

#restaurants{
    width: 100%;
    height: auto;
    background-color: $grey;
    padding: 1rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap:1rem;

    h1{
        margin-bottom: 0;
    }
}

.restaurantsBox{
    width: 100%;
    height: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.restaurantCard{
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
}

.restaurantCardImage{
        width: 100%;
        height: 70%;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        span{
            background-color: $green;
            width: auto;
            height: auto;
            position:absolute;
            top: 1rem;
            right: 1rem;
            padding: 0.3rem 0.5rem 0.3rem 0.5rem;

            p{
                margin:0;
                padding: 0;
                color: rgb(24, 88, 24);
                font-weight: bold;
            }
        }
}

.restaurantCardDescription{
        width: 100%;
        height: 30%;
        background-color: white;
        margin: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        p{
            width: 100%;
            margin:0;
            padding: 0;
        }

        span{
            width: auto;
            height: auto;
            position:absolute;
            top: 1rem;
            right: 1.5rem;
            font-size:1.5rem;
        }

        .fullHeart{
            i{
                color: rgba(255, 255, 255, 0);

                &:hover{
                    color: $purple;
                }
            }
        }
}

/* RESTAURANTS RESPONSIVES */

@media screen and (min-width: 767px){
    .restaurantsBox{
        width: 100%;
        height: auto;
        gap: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .restaurantCard{
        width: calc(50% - 0.5rem);
        height: 15rem;
        border-radius: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
    }
}


/* FOOTER */







/* 
1. INSTALLATION DE SASS

Depuis le site SASS en mode standAlone (depuis page github)
on DL une archive, le dossier s'appelle dart-sass
on le met dans le projet
on crée ensuite un dossier sass avec toutes les feuilles dedans
la principale étant style.scss

on travaille ensuite avec le terminal
./dart-sass/sass --help

pour générer un fichier css
./dart-sass/sass sass/style.scss style.css
on a aussi un fichier style.css.map

Pour suivre directement on utilise --watch
./dart-sass/sass sass/style.scss style.css --watch

On teste le fichier .map
On crée une structure HTML5
Le fichier map permet d'expliquer au navigateur le lien entre chaque ligne css et scss

Exemple import de fichier
minireset css
@import "libs/reset.css";

il est possible ensuite d'installer SASS globalement depuis le système
pour l'utiliser depuis le path


2. IMBRICATION

cela permet d'imbriquer et d'utiliser la syntaxe suivante

.btn {
    background: #FFF;

    .icon {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: red;
    }

    &:hover {
        background: #000;
    }

}

QUI DONNERA LE CODE SUIVANT

.btn {
    background: #FFF;
}
.btn .icon {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: red;
}
.btn:hover {
    background: #000;
}

c'est bien d'utiliser 2 niveaux maximum en descendant 

le & permet de les mettre directement collés

et dans l'autre sens aussi, par exemple:

.btn{
    .theme-vert & {
        background: green;
    }
}

donnera

.theme-vert .btn{
    background: green;
}

on peut aussi écrire les mediaqueries dans l'imbrication
seul inconvenient, ça ne groupe pas les mediaqueries dans le css final


3. HERITAGE SUR SASS



*/