/* Reset CSS sur le body 
et définition des variables
*/



*{
    box-sizing: border-box;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Shrikhand', cursive;
}

.logo{
    font-family: 'Shrikhand', cursive;
}

body, main{
    width: 100%;
    height: 100%;
}
